<div [class.d-none]="isErrored">

  <div class="list-controller">
    <mat-form-field class="table-search">
      <input matInput placeholder="Search" value="" (input)="searchText$.next($event.target.value)">
    </mat-form-field>
    <button mat-raised-button color="primary" (tap)="openDialog('create')">Create</button>
  </div>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" [class.d-none]="loadNextBatch">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'short'}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [class.hidden]="row.last" class="cursor-pointer" [routerLink]="[ row.title | case: 'kebab' ]"
      *matRowDef="let row; index as idx; columns: displayedColumns;"></tr>

  </table>
  <div [ngClass]="!dataSource || loadNextBatch ? 'spinner-container' : 'd-none'">
    <mat-spinner></mat-spinner>
  </div>
  <div [ngClass]="finalPage ? 'final-page-notifier' : 'd-none'">
    <mat-icon class="cursor-pointer" [routerLink]="['../']" aria-hidden="false" aria-label="last page icon">last_page
    </mat-icon>
    <div class="f-sm">Last Page</div>
  </div>
  <mat-paginator [pageSizeOptions]="[5]" hidePageSize showFirstLastButtons
    (page)="loadNextBatchIfLastPagination($event)">
  </mat-paginator>

</div>

<div [class.d-none]="!isErrored">
  <app-error message="There was a problem loading this page. Please reload the page and try again." [disableTryAgain]="true"></app-error>
</div>
